@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Trainers";
}

<h1>Trainers</h1>
<div class="my-5">
    <div class="firstSearch" style="width: 350px">
        <form asp-controller="Trainers" asp-action="Search" class="form-group d-flex">
            <input class="form-control blackBorder mr-2" type="text" name="SearchString" placeholder="Search">
            <button type="submit" class="btn btn-dark submitButtons">Search</button>
        </form>
    </div>
    <br />
    <div class="secondSearch blackBorder">
        <form class="form-inline" asp-controller="Trainers" asp-action="MultipleSearch" style="float:left;">
            <input class="form-control blackBorder mr-2" type="text" id="city" placeholder="City" name="city">
            <input class="form-control blackBorder mr-2" type="text" id="fname" placeholder="first name" name="fname">
            <input class="form-control blackBorder mr-2" type="text" id="city" placeholder="Phone" name="phonenumber">
            <input class="form-control blackBorder mr-2" type="text" id="gender" placeholder="gender" name="gender">

            <button type="submit" class="btn btn-dark submitButtons" id="search">Filter</button>
        </form>
    </div>
</div>
<div id="table">
    <br />
    <div class="web-fitness-card">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @if (this.User.IsInRole("Admin"))
                            {
                                <span>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

                                </span>
                            }
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            @if (this.User.IsInRole("Admin"))
                            {
                                <span>
                                    | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>

        @if (ViewBag.err != "" && ViewBag.err != null)
        {
            <p style="display: inline-block;"> @ViewBag.err </p>
        }

    </div>
