@model IEnumerable<web_fitness.Models.TrainingType>

@{
    ViewData["Title"] = "Index";
}

<h1>Training Methods</h1>

@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="firstSearch my-4" style="width: 350px">
    <form asp-controller="TrainingTypes" asp-action="Search" class="form-group d-flex">
        <input class="form-control blackBorder mr-2" type="text" name="SearchString" placeholder="Search">
        <button type="submit" class="btn btn-dark submitButtons">Search</button>
    </form>
</div>

<div class="web-fitness-card">
    <div id="table">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Target)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Target)
                        </td>
                        <td>
                            @if (this.User.IsInRole("Admin"))
                            {
                                <span>
                                    <a asp-action="Edit" asp-route-id="@item.TrainingTypeId">Edit</a> |
                                </span>
                            }

                            <a asp-action="Details" asp-route-id="@item.TrainingTypeId">Details</a>

                            @if (this.User.IsInRole("Admin"))
                            {
                                <span>
                                    | <a asp-action="Delete" asp-route-id="@item.TrainingTypeId">Delete</a>
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
